<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}


{% block content %}
<!-- Carousel 100% Fullscreen -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'img/carousel/adv_1.jpeg' %}" style="width:100%"  alt="First slide">
                </div>
                <div class="item">
                    <img src="{% static 'img/carousel/adv_2.jpeg' %}"  style="width:100%" alt="Second slide">
                </div>
                <div class="item">
                    <img src="{% static 'img/carousel/adv_3.jpeg' %}"  style="width:100%" alt="Thrid slide">
                </div>
                <div class="item">
                    <img src="{% static 'img/carousel/adv_4.jpg' %}"  style="width:100%" alt="Fourth slide">
                </div>
                <div class="item">
                    <img src="{% static 'img/carousel/adv_5.jpeg' %}" style="width:100%" alt="Fifth slide">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
            
    </div>

<!-- Banner -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="banner_item align-items-center">
                        <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="{% url 'all_products' category='women' %}">women's</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="banner_item align-items-center">
                        <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="{% url 'all_products' category='men' %}">men's</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="banner_item align-items-center" >
                    <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="{% url 'all_products' category='team' %}">teams</a>
						</div>
					</div>
				</div>
                <div class="col-md-3">
					<div class="banner_item align-items-center" >
                        <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="{% url 'all_products' category='accesories' %}">complements</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- New Arrivals -->
	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>New Arrivals</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="product-grid">
                    {%  for product in products  %}
						<div class="product-item">
                            <a href = "{% url 'product_detail' product.id %}">
                                <div class="product product_filter">
                                    <div class="product_image">
                                        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="">
                                    </div>
                                    <div class="favorite"></div>
                                    <div class="product_info">
                                        <h6 class="product_name">{{ product.name }}</h6>
                                        <div class="product_price">{{ product.price }}</div>
                                    </div>
                                </div>
                                <div class="red_button add_to_cart_button">
                                    <a href="{% url 'product_detail' product.id %}">add to cart</a>
                                </div>
                            </a>
						</div>
                        {% endfor %}    
					</div>
				</div>
			</div>
		</div>
	</div>

    
<!-- Offers -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" >
                        <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="#">student discount</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center">
                        <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="#">klarna</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center">
                        <img src="{% static 'img/offers/banner_1.jpeg' %}" alt="">
						<div class="banner_category">
							<a href="#">home workout app</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


