<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}


{% block content %}
    <div class="main_slider" style="background-image:url({% static 'assets/carousel/video-preview-3.gif' %});">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h1>New Arrivals 30% Off</h1>
						<div class="red_button shop_now_button"><a href="{% url 'all_products' %}">shop now</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Banner -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'assets/categories/women.jpeg' %});">
                        
						<div class="banner_category">
							<a href="{% url 'all_products' category='women' %}">women's</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image: url({% static 'assets/categories/men.jpeg' %});">
						<div class="banner_category">
							<a href="{% url 'all_products' category='men' %}">men's</a>
						</div>
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image: url({% static 'assets/categories/accesories.jpeg' %});">
						<div class="banner_category">
							<a href="{% url 'all_products' category='accesories' %}">complements</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- New Arrivals -->
<br>
	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>New Arrivals</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                    {% for product in products|slice:":4" %}
                        <div class="product-item" >
                            <div class="product product_filter">
                                <div class="product_image">
                                    <img src="{{ MEDIA_URL }}{{ product.image }}" alt="">
                                </div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href = "{% url 'product_detail' product.id %}">{{ product.name }}</a></h6>
                                    <div class="product_price">{{ product.price }}</div>
                                </div>
                            </div>
                            <div>
                                <button class="red_button add_to_cart_button" type="submit">
                                    <a href = "{% url 'product_detail' product.id %}">View More</a>
                                </button>
                            </div>
                        </div>
                    {% endfor %}    
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Deal of the week -->
    <div class="main_slider" style="background-image:url({% static 'assets/deal/deal_of_the_week.jpeg' %}); max-height:500px;margin-top: 20px;">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
                <div class="col-lg-12 text-right deal_ofthe_week_col">
                    <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                        <div class="section_title">
                            <h2>Deal Of The Week</h2>
                            <h4>New Arrivals</h4>
                        </div>
                        <ul class="timer">
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div class="timer_num">30%</div>
								<div class="section_title"><h4>off</h4></div>
							</li>
						</ul>
                        <div class="red_button  deal_ofthe_week_button"><a href="{% url 'all_products' %}">shop now</a></div>
                    </div>
                </div>
			</div>
		</div>
	</div>
<!-- Offers -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image: url({% static 'assets/offers/offer1.jpeg' %});">
						<div class="banner_category">
							<a href="https://www.studentbeans.com/se" target="_blank">student discount</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image: url({% static 'assets/offers/offer2.jpeg' %});">
						<div class="banner_category">
							<a href="https://www.klarna.com/se/" target="_blank">klarna</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image: url({% static 'assets/offers/offer3.jpeg' %});">
						<div class="banner_category">
							<a href="{% url 'coming_soon' %}">home workout app</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


