<!DOCTYPE html>
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

<!-- {% if cart_items %}
    End feature cards in cart -->
    <!-- Empty cart 
    <div class="mb-4" style="margin-left: auto;margin-right: auto">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mt-2 mr-2">
                        <div class="align-items-center">
                            <img class="attachment" alt="empty cart" src="{ media/images/empty-cart.PNG }">
                        </div>
                        <div class="text-xs text-center font-weight-bold text-primary mb-1">
                            <p>Looks like you haven't got anything in your cart just yet. </p>
                             <button type="button" class="btn btn-default">
                                <a href="{% url 'index' %}">Go back to shopping</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>-->

{% block content %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'view_cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Cart</a></li>
            
        </ul>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>    
                <th>Product</th>    
                <th>Quantity</th>    
                <th>Price</th>
                <th>Subtotal</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for id,product in shopping_cart.items %}
            <tr>
                <td><img width="150" height="75" src="{{MEDIA_URL}}{{item.image}}"/></td>    
                <td>{{ product.name }}</td>    
                <td>{{ product.quantity}}</td>    
                <td>€{{ product.price }}</td>
                <td>€{{ product.subtotal}}</td>
                <td><a href="#" class="btn btn-secondary height-auto btn-sm">X</a></td>
                
            </tr>
            {% endfor %}

            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total:</strong></td>
                <td><strong>€{{total}}</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong><button class="red_button btn btn-sm btn-block" onclick="window.location='{% url 'all_products' %}'">Continue Shopping</button></strong></td>
                <td><strong><button class="red_button btn btn-sm btn-block" style="background-color:#27aa27d4;" onclick="window.location='{% url 'checkout' %}'">Proceed to checkout</button></strong></td>
                
            </tr>
        </tbody>
    </table>
{% endblock %}