<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}


{% block content %}
    <br>
    <br>

    <!-- Breadcrumbs -->
    <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'view_cart' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>Cart</a></li>
            
        </ul>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>  
                <th class="product-thumbnail">Image</th>  
                <th>Product</th>    
                <th>Quantity</th>    
                <th>Price</th>
                <th>Subtotal</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id,product in shopping_cart.items %}
            <tr>
                <!--<td><img width="150" height="75" src="{{MEDIA_URL}}{{product.image}}"/></td>  -->  
                <td><img width="150" height="75" src="{{ product.image }}" alt="Image" class="img-fluid"></td>
                <td class="product-thumbnail">
                    {% if product.image %}
                        <img width="150" height="75" src="{{product.image}}" alt="Image" class="img-fluid">
                    {%endif%}
                </td>
                <td>{{ product.name }}</td>    
                <td>{{ product.quantity}}</td>    
                <td>€{{ product.price }}</td>
                <td>€{{ product.subtotal}}</td>
                <td><a href="{% url 'cartapp:remove_from_cart' product.product_id %}" class="btn btn-secondary height-auto btn-sm">X</a></td>
            </tr>
            {% endfor %}

            
            <tr style="background-color:#a8a8a84f">
                <td></td>
                <td></td>
                <td></td>
                <td ><strong>Total:</strong></td>
                <td ><strong>€{{total}}</strong></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong><button class="btn btn-sm btn-block" style="background-color: #e4e4e4;border: 2px solid #ff00006e;" onclick="window.location='{% url 'all_products' %}'">Continue Shopping</button></strong></td>
                <td><strong><button class="btn btn-sm btn-success btn-block" onclick="window.location='{% url 'checkout' %}'">Proceed to checkout</button></strong></td>
                
            </tr>
        </tbody>
    </table>
{% endblock %}