<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/logos/boom_flavicon.png' %}">
    <title>BOOM</title>
    

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/single_responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/single_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories_responsive.css' %}">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

    {% block head_js %}
    {% endblock head_js %}

</head>
<body>
    <header class="header trans_300">
		<!-- Main Navigation -->
		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
                            <a href="/">
                                <img src="{% static 'assets/logos/logo_header.PNG' %}" style="max-width:150px;"> 
                            </a>
						</div>
                        
						<nav class="navbar">
							<ul class="navbar_menu">
                                <li>
                                    <form class="form-inline" action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search" name="search">
                                            <div class="input-group-btn">
                                            <button class="btn btn-default" type="search">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Categories </a>
                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="{% url 'all_products' category='women' %}">Women</a></li>
                                        <li><a href="{% url 'all_products' category='men' %}" >Men</a></li>
                                        <li><a href="{% url 'all_products' category='accesories' %}" >Accesories</a></li>
                                    </ul>
                                </li>
							</ul>
							<ul class="navbar_user">
								{% if user.is_authenticated %}
                                <li><a href="{% url 'user_profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a></li>
                                {%  else %}
                                <li><a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                {% endif %}
                                <li>
                                    <a class="checkout" href="{% url 'view_cart' %}">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <label class="badge badge-warning">{{ product_count }}</label>
                                    </a>
                                </li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
        <div class="top_nav">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <p style="color:white;">FREE SHIPPING WORLDWIDE!</p>            
                </div>
                <div class="carousel-item">
                    <p style="color:white;">Free Returns for 100 days!*</p>
                </div>
            </div>
        </div>
        {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
            
    </div>
	</header>
    <div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
                <li class="menu_item"><a href="/">home</a></li>
                <li class="menu_item has-children">
					<a href="#">
                        Categories
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="{% url 'all_products' category='women' %}">Women</a></li>
                        <li><a href="{% url 'all_products' category='men' %}" >Men</a></li>
                        <li><a href="{% url 'all_products' category='accesories' %}" >Accesories</a></li>
					</ul>
				</li>
                <li class="menu_item"><a href="{% url 'contact_us' %}">Contact us</a></li>
                <li class="menu_item"><a href="{% url 'coming_soon' %}">Blog</a></li>
                <li class="menu_item"><a href="{% url 'faq' %}">FAQs</a></li>
                <li style="float:right;">
                    <form class="form-inline" action="{% url 'search' %}" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                            <div class="input-group-btn">
                            <button class="btn btn-default" type="search">
                                <i class="fa fa-search"></i>
                            </button>
                            </div>
                        </div>
                    </form>
                </li>
			</ul>
		</div>
	</div>
    {% block content %} 
    
    {% endblock %}
    <br>
	<!-- Footer -->
    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<div class="col-sm-6 ">
                            <div class="logo_container">
                                <img src="{% static 'assets/logos/logo_footer.PNG' %}" style="max-width:120px;">
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <ul class="footer_nav">
                                <li><a href="{% url 'coming_soon' %}">Blog</a></li>
                                <li><a href="{% url 'faq' %}">FAQs</a></li>
                                <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                            </ul>
                        </div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                        <ul class="social d-flex flex-row">
                            <li><a href="https://www.facebook.com/" style="background-color: #3a61c9" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/bo_om_2020/" style="background-color: #fe4c50" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://open.spotify.com/playlist/37i9dQZF1DWUVpAXiEPK8P" style="background-color:#3c763d" target="_blank"><i class="fa fa-spotify"></i></a></li>
                        </ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr text-center">©2020 All Rights Reserverd. This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-chevron-up" ></i>
		</span>
	</div>
 
    <!--JS imports -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/single_custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contact_custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/categories_custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('.carousel').carousel({
        interval: 2000
        })
     }); 
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 59.328817, lng: 18.070426},
          zoom: 18
        });
      }
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN3SEC4Pmslb4WiZfVr0dxZFAqrvzHpSw&callback=initMap"
    async defer></script>

    
</body>
</html>